img.avatar {
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4) !important;
}

.markdown p,
.markdown pre,
.markdown ul {
    text-align: left
}

.markdown code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fcfcfc ;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

.highlight pre {
    background-color: black !important;
}

.highlight pre code {
    background-color: transparent !important;
}

pre code {
    background-color: transparent !important;
}