# This is a simple workflow to build a Hugo site and then deploy it on Firebase Hosting 

name: Set Hugo-On-Fire

# Triggers when any commit is pushed on Master
on:
  push:
    branches: [ master ]

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with: 
        submodules: true

    # Fetch Hugo to Firebase docker image
    - uses: spf13/Hugo-On-Fire@master
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
